body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color:white;
}

.topnav a {
  float: left;
  display:block;
  text-align: center;
  padding: 20px 2%;
  text-decoration: none;
  border-radius: 0px;
  color: white;
  background-color: rgb(18, 18, 18);
  font-size: 13px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 2%;
  transition: 0.2s;
}

.topnav a:hover {
  background-color: red;
  color: white;
  transition: 0.2s;
}


.topnav .icon {
  display: none;
  font-size: 30px
}

#logoRC{
  height: 130px;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  transition: 0.3s;
  margin-left: 3%;
  border-radius: 30%;
}

  .topnav .mas{
  float: left;
  display: block;
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0px;
  text-align: center;
  background-color: rgb(18, 18, 18);
  padding: 1px 2%;
  color: white;
  height: 60px;
  margin-top: 2%;
}
.topnav .mas:hover{
  background-color: red;
  color: white;
  transition: 0.3s;
}

.topnav .combobox{
  float: left;
  display: block;
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0px;
  text-align: center;
  color: white;
}

.topnav .categorias{
  text-align: left;
  background-color: white;
  color: black;
  font-size: 13px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.topnav .categorias:hover{
  cursor: pointer;
  background-color: red;
  color: white;
  transition: 0.3s;
  text-decoration:underline;
}

.topnav .label{
  font-size: 13px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.topnav .buscadorBox{
  float: left;
  display: block;
  padding: 1px 0.5%;
  height: 60px;
  margin-top: 2%;
  border-radius: 0px;
  background-color: rgb(18, 18, 18);
  font-size: 13px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.topnav .buscadorBox:hover{
  background-color: rgb(18, 18, 18);
}

.topnav #buscador {
  height: 100%;
  width: 100%;
  border-radius: 0px;
  background-color: rgb(18, 18, 18);
  color: white;
  font-size: 13px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.3s;
}
  
.topnav #buscador:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}

.topnav #btnBuscar{
  cursor: pointer;
  border-radius: 40%;    
  text-align: center;
  font-size: 20px;
}
.topnav #btnBuscar:hover{
  background-color: red;
  color: white;
  transition: 0.3s;

}

.topnav .labelbuscar{
  font-size: 13px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(167, 167, 167);
}

.topnav .Iconligh{
  padding: 15px 0.3%;
  color: rgb(240, 173, 29);
  font-size: 30px;
}

.topnav .Iconnight{
  padding: 15px 0.3%;
color: rgb(76, 84, 233);
font-size: 30px;
}

.topnav #switch{
  padding: 15px 0.3%;
background-color: white;
}

.topnav .ModoNoche{
  background-color: white;
  float: left;
  display: block;
  padding: 1px 0.3%;
  height: 60px;
  margin-top: 2%;
  border-radius: 0px;
}
.topnav .ModoNoche:hover{
  background-color: white;
}

@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav {
    background-color:black;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}

  .topnav.responsive .icon {
    position:absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin-top: 0px;
    font-size: 30px;
  }
  .topnav.responsive .botonmenu {
    float: none;
    display: block;
    text-align: left;
    margin-top: 0px;
    font-size: 13px;
  }
  .topnav.responsive #logoRC {
    float: none;
    display: block;
    text-align: left;
    height: 90px;
    transition: 0.3s;
    border-radius: 30%;
  }
  .topnav.responsive .mas {
    float: none;
    display: block;
    text-align: left;
    margin-top: 0px;
    font-size: 13px;
  }
  .topnav.responsive .combobox {
    float: none;
    display: block;
    text-align: left;
    margin-top: 0px;
    font-size: 13px;
  }
  .topnav.responsive {
    background-color:black;
  }
}



/*.navbar
{
  background-color: white;
}
.navbar-light .navbar-nav .nav-link
{
  color: black;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover
{
  text-decoration: underline;
}

/*@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-blue, A200, A100, A400);

$app-warn:    mat-palette($mat-red);

$app-theme: mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,  
  )
));

@include angular-material-theme($app-theme);

$app-dark-theme: mat-dark-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,  
  )
));

.darkmode {

  @include angular-material-theme($app-dark-theme);
}*/


//____________________________________________________________



/*#toolbar{
    background-color: rgb(255, 255, 255);
    height: 150px;
}
#iconoMenu{
  
}
@media(max-width: 959px)
{
  mat-toolbar {
    border-radius: 0px;
  }
}
#logoRC{
    height: 80px;
    //margin-left: 200px;
    border-radius: 20%;
}
.navigation-items{
  list-style-type:none;
  padding: 0;
  margin: 0;
}
#botones{
  width: 400px;
  height: 150px;
  background-color: aqua;
}
.botonmenu{
    height: 50px;
    border-radius: 0px;
    color: white;
    background-color: rgb(45, 45, 45);
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    //font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.botonmenu:hover{
    background-color: red;
    color: white;
    transition: 0.3s;
}*/
/*
#divCombobox{
    border: 1px solid #c4c1c1; 
    border-radius: 0px;
}
#combobox{
    height: 47px;
    width: 200px;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0px;
    text-align: center;
    color: white;
    background-color: rgb(45, 45, 45);

}
#combobox:hover{
    background-color: red;
    color: white;
    transition: 0.3s;
}
.categorias{
    text-align: center;
    background-color: white;
    color: black;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.categorias:hover{
  cursor: pointer;
    background-color: orange;
    color: red;
    transition: 0.3s;
    text-decoration:underline;
}

::ng-deep .mat-form-field-underline {
    display: none;
  }

#buscadorBox{
    border-radius: 0px;
    //border: 1px solid #E0E0E0;
    //margin-right: 200px;
}
#buscador {
    height: 47px;
    width: 250px;
    font-size: 15px;
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
#btnBuscar{
    cursor: pointer;
    border-radius: 50%;    
    height: 25px;
    width: 25px;
    text-align: center;
}
#btnBuscar:hover{
    background-color: red;
    color: white;
    transition: 0.3s;
}

.flex-stretch{
    flex: 1 0 auto;
  }
  .Iconligh{
    margin-left: 10px;
    color: rgb(240, 173, 29);
    margin-top: 10px;
}

.Iconnight{
  margin-left: 10px;
  color: rgb(76, 84, 233);
}
#switch{
  background-color: rgb(56, 56, 56);
  margin-left: 10px;
}

#ModoNoche{
  background-color: rgb(56, 56, 56);
  float: right;
  margin-left: 50px;
  border-radius: 40px;
  height: 50px;
  width: 120px;
}*/

