<div class="topnav" id="myTopnav">
  <div id="divLog">
  <!--<img [src]="logo" id="logoRC">-->
  <img src="assets/images/logoRadioCompañera.jpg" id="logoRC">

  <div class="divTitulo">
  <p class="labelRadio">Radio Compañera</p>
</div>

<div class="divRedes" style="list-style-type: none">
  <li>
      
      <img [src]="facebook" id="btnfacebook">
      <img [src]="twitter" id="btntwitter">
      <img [src]="youtube" id="btnyoutube">
  </li>
  </div>
</div>

<div id="divbot">
  <a routerLink="/main" class="botonmenu" (click)="volverPrincipal()">Inicio</a>
  <a routerLink="/main" class="botonmenu">Politica</a>
  <a routerLink="/main" class="botonmenu">Social</a>
  <a routerLink="/main" class="botonmenu">Economia</a>
  <a routerLink="/main" class="botonmenu">Seguridad</a>
  <a routerLink="/main" class="botonmenu">Deportes</a>
  <a routerLink="javascript:void(0);" class="icon" (click)="AbrirTopNav()">
    <i class="fa fa-bars"></i>
  </a>
  <a class="mas">
    <mat-form-field class="combobox">
        <mat-label class="label">Mas categorias</mat-label>
        <mat-select>
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.nombre" class="categorias">
            {{categoria.nombre}}
          </mat-option>
        </mat-select>
    </mat-form-field>
  </a>
<a class="buscadorBox">
  <mat-form-field appearance="fill" id="buscador">
    <mat-label class="labelbuscar">Buscar</mat-label>
    <input type="text" matInput placeholder="¿Que buscas?" [(ngModel)]="textoBusqueda" (ngModelChange)="eventoBusqueda($event)">
    <mat-icon id="btnBuscar" (click)="textoBusqueda=''; eventoBusqueda('')" matSuffix>search</mat-icon>
  </mat-form-field>
</a>

<a class="divModoNoche">
<a class="ModoNoche">
<mat-icon class="Iconligh">brightness_5</mat-icon>
</a>
<a class="ModoNoche">
      <mat-slide-toggle id="switch"  (change)="eventoSwitch($event)">
      </mat-slide-toggle>
    </a>
    <a class="ModoNoche">
      <mat-icon class="Iconnight">bedtime</mat-icon>
    </a>

  </a>

</div>
    
</div>

  
