body {
  margin: 0;
  font-family: Helvetica, 'Now';
}

.topnav {
  overflow: hidden;
  width: 100%;
  margin-right: auto;
  //background-color: black;
}

#divLog{
  width: 100%;
  background-image: url("../../assets/images/fon3.jpg");
  height: 160px;
}
#divbot{
  background-color:black;
  flex: 1 1 auto;
  overflow: hidden;
  width: 100%;
  margin-right: auto;
}


a {
  float: left;
  display:block;
  text-align: center;
  padding: 1.3% 0%;
  text-decoration: none;
  border-radius: 0px;
  color: white;
  background-color: rgb(18, 18, 18);
  font-size: 1vw;
  font-family: Helvetica, 'Now';
  font-weight: bold;
  margin-top: 0%;
  transition: 0.2s;
  width: 9.5%;

}

.divModoNoche {
  float: right;
  display:block;
  text-align: center;
  padding: 0% 0%;
  text-decoration: none;
  background-color:black;
  font-family: Helvetica, 'Now';
  transition: 0.2s;
  width: 10%;
  height: auto;
  margin-right: 2%;

}

.divModoNoche:hover {
  background-color:black;

}


 a:hover {
  background-color: red;
  color: white;
  transition: 0.2s;
}


 .icon {
  display: none;
  font-size: 30px
}

#logoRC{
  width: 6%;
  height: auto;
  float: left;
  display: block;
  text-align: center;
  padding: 0% 0%;
  transition: 0.3s;
  margin-left: 8%;
  margin-top: 1%;
  border-radius: 22%;
}
.divTitulo {
  float: left;
  height: 70px;
  width: 50%;
  //background-color:crimson;
  margin-top: 4%;
  margin-left: 0.7%;
}

.labelRadio {
  font-size: 5vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#btnfacebook{
  cursor: pointer;
  border-radius: 50%; 
  height: 50px;
  width: 50px;
  margin-right: 5%;
  transition: 0.3s;

}
#btnfacebook:hover{
  
  color: white;
  transition: 0.3s;
  height: 60px;
  width: 60px;
}
#btntwitter{
  cursor: pointer;
  border-radius: 50%; 
  height: 50px;
  width: 50px;
  margin-right: 5%;
  transition: 0.3s;

}
#btntwitter:hover{
  
  color: white;
  transition: 0.3s;
  height: 60px;
  width: 60px;
  
}
#btnyoutube{
  cursor: pointer;
  border-radius: 50%; 
  height: 50px;
  width: 50px;
  transition: 0.3s;

}
#btnyoutube:hover{
  
  color: white;
  transition: 0.3s;
  height: 60px;
  width: 60px;
}
.divRedes{
  flex: 1 1 auto;
  height: auto;
  width: 20%;
  text-align: right;
  float: right;
  margin-top: 4%;
  margin-right: 8%;
  //background-color: darkgoldenrod;

}

.mas{
  float: left;
  width: 15%;
  height: 70px;
  display: block;
  font-size: 1vw;
  font-family: Helvetica, 'Now';
  font-weight: bold;
  border-radius: 0px;
  text-align: center;
  background-color: rgb(18, 18, 18);
  color: white;
  padding: 0% 0%;
  
}
.mas:hover{
  background-color: red;
  color: white;
  transition: 0.3s;

}

.combobox{
  
  float: left; 
  display: block;
  font-family: Helvetica, 'Now';
  font-weight: bold;
  border-radius: 0px;
  text-align: center;
  color: white;
  width: 100%;
  font-size: 1vw;

}
.categorias{
  
  text-align: left;
  background-color: white;
  color: black;
  font-size: 1vw;
  font-family: Helvetica, 'Now';
  font-weight: bold;
}
.categorias:hover{
  cursor: pointer;
  background-color: red;
  color: white;
  transition: 0.3s;
  text-decoration:underline;
}

.label{
  
  font-size: 0.9vw;
  font-family: Helvetica, 'Now';
  font-weight: bold;
  color: white;
}

.buscadorBox{
  float: left;
  width: 16%;
  display: block;
  height: 70px;
  border-radius: 0px;
  background-color: rgb(18, 18, 18);
  font-size: 0.9vw;
  font-family: Helvetica, 'Now';
  font-weight: bold;
  padding: 0% 0%;
}
.buscadorBox:hover{
  background-color: rgb(18, 18, 18);
}

 #buscador {
  width: 100%;
  border-radius: 0px;
  background-color: rgb(18, 18, 18);
  color: white;
  font-size: 0.9vw;
  font-family: Helvetica, 'Now';
  font-weight: bold;
  transition: 0.3s;
}
  
#buscador:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}

#btnBuscar{
  cursor: pointer;
  border-radius: 40%;    
  text-align: center;
  font-size: 1.6vw;
  height: auto;
  width: auto;
}
 #btnBuscar:hover{
  background-color: red;
  color: white;
  transition: 0.3s;

}

 .labelbuscar{
  font-size: 0.9vw;
  font-family: Helvetica, 'Now';
  font-weight: bold;
  color: rgb(167, 167, 167);
}

.Iconligh{
  padding: 1% 0.3%;
  color: rgb(240, 173, 29);
  font-size: 2.2vw;
}

.Iconnight{
  padding: 1% 0.3%;
color: rgb(76, 84, 233);
font-size: 2.2vw;
}

 #switch{
  margin-left: 40%;
  padding: 30% 0.3%;
  background-color:black;
}

 .ModoNoche{
  background-color:black;
  float: left;
  //display: block;
  padding: 1px 0.3%;
  height: auto;
  margin-top: 5%;
  border-radius: 70%;
  margin-left: 2%;
  width: 28%;
}
.ModoNoche:hover{
  background-color:black;
}

@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    margin-top: 7%;
    margin-right: 7%;
    background-color:black;
    font-size: 2.8em;
  }
  .topnav {
    background-color:black;
    width: 100%;
    margin-left: 0%;
  }
  .topnav #logoRC {
    width: 22%;
    height: auto;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    transition: 0.3s;
     margin-left: 3%;
     border-radius: 30%;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}

  .topnav.responsive .icon {
    position:absolute;
    right: 0;
    top: 0;
    margin-top: 5%;
    margin-right: 5%;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin-top: 0px;

  }
  .topnav.responsive .botonmenu {
    float: none;
    padding: 5% 0%;
    display: block;
    text-align: left;
    margin-top: 0px;
    font-size: 4vw;
    width: 100%;
    margin-left: 0%;
  }
  .topnav.responsive #logoRC {
    float: none;
    display: block;
    text-align: left;
    height: auto;
    width: 15%;
    transition: 0.3s;
    border-radius: 30%;
  }
  .topnav.responsive .mas {
    float: none;
    display: block;
    text-align: left;
    margin-top: 0px;
    font-size: 4vw;
    width: 100%;
    margin-left: 0%;
  }
  .topnav.responsive .combobox {
    float: none;
    display: block;
    text-align: left;
    margin-top: 0px;
    font-size: 4vw;
    width: 100%;
    margin-left: 0%;
  }

  .topnav.responsive .categorias{
  
    text-align: left;
    background-color: white;
    color: black;
    font-size: 1vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .topnav.responsive .label{
    
    font-size: 4vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
  .topnav.responsive {
    background-color:black;
  }

  .topnav.responsive .buscadorBox{
    float: left;
    width: 100%;
    display: block;
    border-radius: 0px;
    background-color: rgb(18, 18, 18);
    font-size: 4vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .topnav.responsive #buscador {
    width: 100%;
    border-radius: 0px;
    background-color: rgb(18, 18, 18);
    color: white;
    font-size: 3vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.3s;
  }
    
  .topnav.responsive #btnBuscar{
    cursor: pointer;
    border-radius: 40%;    
    text-align: center;
    font-size: 6vw;
    height: auto;
    width: auto;
  }
  
  .topnav.responsive .labelbuscar{
    font-size: 4vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(167, 167, 167);  
}

.topnav.responsive .buscadorBox:hover{
  background-color: rgb(18, 18, 18);
}
  
.topnav.responsive #buscador:hover {
  background-color: white;
  color: black;
  transition: 0.3s;
}

.topnav.responsive #btnBuscar:hover{
  background-color: red;
  color: white;
  transition: 0.3s;

}

.topnav.responsive .divModoNoche {
  float: right;
  display:block;
  text-align: center;
  text-decoration: none;
  border-radius: 40%;
  background-color: rgb(72, 72, 72);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: 0.2s;
  width: 30%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;

}

.topnav.responsive  .divModoNoche:hover {
  background-color: rgb(72, 72, 72);

}

.topnav.responsive .Iconligh{
  padding: 1% 0%;
  color: rgb(240, 173, 29);
  font-size: 7vw;
  margin-left: 10%;
  margin-top: 6%;
}

.topnav.responsive .Iconnight{
  padding: 1% 0%;
color: rgb(76, 84, 233);
margin-left: 10%;
  margin-top: 6%;
font-size: 7vw;
}

.topnav.responsive #switch{
  margin-left: 1%;
  padding: 25% 0%;
  border-radius: 20%;
  background-color: rgb(72, 72, 72);
}

.topnav.responsive .ModoNoche{
  background-color: rgb(72, 72, 72);
  float: left;
  //display: block;
  padding: 0px 0.3%;
  height: 100%;
  margin-top: 0%;
  border-radius: 50%;
  margin-left: 2%;
  margin-top: 10%;
  width: 30%;
}
.topnav.responsive .ModoNoche:hover{
  background-color: rgb(72, 72, 72);
}

}



/*.navbar
{
  background-color: white;
}
.navbar-light .navbar-nav .nav-link
{
  color: black;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover
{
  text-decoration: underline;
}

/*@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-blue, A200, A100, A400);

$app-warn:    mat-palette($mat-red);

$app-theme: mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,  
  )
));

@include angular-material-theme($app-theme);

$app-dark-theme: mat-dark-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,  
  )
));

.darkmode {

  @include angular-material-theme($app-dark-theme);
}*/


//____________________________________________________________



/*#toolbar{
    background-color: rgb(255, 255, 255);
    height: 150px;
}
#iconoMenu{
  
}
@media(max-width: 959px)
{
  mat-toolbar {
    border-radius: 0px;
  }
}
#logoRC{
    height: 80px;
    //margin-left: 200px;
    border-radius: 20%;
}
.navigation-items{
  list-style-type:none;
  padding: 0;
  margin: 0;
}
#botones{
  width: 400px;
  height: 150px;
  background-color: aqua;
}
.botonmenu{
    height: 50px;
    border-radius: 0px;
    color: white;
    background-color: rgb(45, 45, 45);
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    //font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.botonmenu:hover{
    background-color: red;
    color: white;
    transition: 0.3s;
}*/
/*
#divCombobox{
    border: 1px solid #c4c1c1; 
    border-radius: 0px;
}
#combobox{
    height: 47px;
    width: 200px;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0px;
    text-align: center;
    color: white;
    background-color: rgb(45, 45, 45);

}
#combobox:hover{
    background-color: red;
    color: white;
    transition: 0.3s;
}
.categorias{
    text-align: center;
    background-color: white;
    color: black;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.categorias:hover{
  cursor: pointer;
    background-color: orange;
    color: red;
    transition: 0.3s;
    text-decoration:underline;
}

::ng-deep .mat-form-field-underline {
    display: none;
  }

#buscadorBox{
    border-radius: 0px;
    //border: 1px solid #E0E0E0;
    //margin-right: 200px;
}
#buscador {
    height: 47px;
    width: 250px;
    font-size: 15px;
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
#btnBuscar{
    cursor: pointer;
    border-radius: 50%;    
    height: 25px;
    width: 25px;
    text-align: center;
}
#btnBuscar:hover{
    background-color: red;
    color: white;
    transition: 0.3s;
}

.flex-stretch{
    flex: 1 0 auto;
  }
  .Iconligh{
    margin-left: 10px;
    color: rgb(240, 173, 29);
    margin-top: 10px;
}

.Iconnight{
  margin-left: 10px;
  color: rgb(76, 84, 233);
}
#switch{
  background-color: rgb(56, 56, 56);
  margin-left: 10px;
}

#ModoNoche{
  background-color: rgb(56, 56, 56);
  float: right;
  margin-left: 50px;
  border-radius: 40px;
  height: 50px;
  width: 120px;
}*/

