#noticiasarriba{
  height: 500px;
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 2%;
}

#noticiagrande{
  position: relative;
  float: left;
}

#noticiagrande::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.9));
}

#noticiasCostado{
  height: 500px;
  width: 800px;
  float: left;
}

#columna1{
  height: 500px;
  width: 380px;
  float: left;
  margin-left: 15px;
}
#fila1a{
  position: relative;
  margin-bottom: 15px;
}

#fila1a::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.9));

}
#fila2a{
  position: relative;
}
#fila2a::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.9));

}
#columna2{
  height: 500px;
  width: 380px;
  float: left;
  margin-left: 15px;
}
#fila1b{
  position: relative;
  margin-bottom: 15px;
}
#fila1b::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.9));

}
#fila2b{
  position: relative;
}
#fila2b::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.9));

}

#ImaNoticiaGrande{
  height: 500px;
  width: 700px;
  
}
.titulogrande{
  position: absolute;
  top: 240px;
  left: 5%;
  cursor: pointer;
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 45px;
  color: white;
  margin-right: 20px;
}

.titulogrande:hover{
  color: lightcoral;
}

.btncategoriaGrande{
  position: absolute;
  top: 420px;
  left: 3%;
  cursor: pointer;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 40px;
  color: rgb(196, 196, 196);
}

.btncategoriaGrande:hover{
  text-decoration:underline;
  color: white;
}

.btnFechaGrande{
  position: absolute;
  top: 380px;
  left: 3%;
  cursor: pointer;
  font-size: 17px;
  line-height: 40px;
  color: rgb(196, 196, 196);
}

#ImaNoticia1{
  height: 237px;
  width: 380px;
}
.titulonoticia1{
  position: absolute;
  top: 46%;
  left: 5%;
  cursor: pointer;
  font-size: 22px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 25px;
  color: white;
  margin-right: 8px;
}

.titulonoticia1:hover{
  color: lightcoral;
}

.btncategoria1{
  position: absolute;
  top: 80%;
  left: 1%;
  cursor: pointer;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(196, 196, 196);
}

.btncategoria1:hover{
  text-decoration:underline;
  color: white;
}
//---------------------------------------------
#carrusel{
  height: 500px;
  width: 1150px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: lightcoral;
  margin-left: 150px;

}
#imgNoticia{
  height: 230px;
  width: 382px;
  margin-bottom: 0px;
  border-radius: 0%;
}
/*#imagenNoticia{
  cursor: pointer;
  height: 500px;
  width: 600px;
}*/
#contenedorImagen{ 
  position: relative;
  background-color: yellow;
  float: left;
}
#contenedorTexto{

  background-color: lightgoldenrodyellow;
  position: absolute;
  top: 10px;
  left: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#mainCss{
  height: 100%;
  width: 100%;
  background-color: red;
}

//------------------------------

#anuncio1{
  width: 200px;
  margin-left: 50px;
  margin-bottom: 200px;

}

#anuncio2{
  width: 200px;
  margin-left: 50px;

  }

  #anuncios{
    width: 300px;
    float: left;
    margin-left: 50px;
    background-color:rgb(243, 243, 239);

    }

  #general{
    width: 1600px;
    height: 1400px;
    padding: 45px;
    margin-left: 95px;
  }
//--------------------------------

.image {
  width: 120px;
  height: 120px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  border-radius: 50%;
  margin: auto;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#conImg{
  height: 200px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
}
#contenedorReproductorImagen{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

//-------------------------

#textocabeza{
  font-size: 25px;
  margin-left: 15px;
}

#noticias{
  width: 100%;
  height: 100%;
}
#general{
  width: 100%;
  height: 2200px;

}
.campoNoticia {
  max-width: 400px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 400px;
  width: 350px;
  border-radius: 0%;

}
#tituloNoticia {
  text-align: left;
  font-size: 20px;
  height: 100px;
  width: 100%;
  
}
#tituloNoticia:hover{
  color: red;
  cursor: pointer;
  transition: 0.3s;
  
}
#tit {
  text-align: left;
  font-size: 22px;
  height: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 20px;

}

.botonNoticiaCategoria{

  color:white;
  font-size: 13px;
  margin-top: 1px;
  margin-left: 10px;
  text-align: left;
  background-color: red;
  margin-bottom: 10px;

}
.botonNoticiaCategoria:hover{
  background-color: black;
  color: white;
  transition: 0.3s;
}

.botonNoticia{

  color: red;
  font-size: 13px;
  margin-top: 1px;
  margin-left: 10px;
  text-align: left;

}
.botonNoticia:hover{
  background-color: black;
  color: white;
  transition: 0.3s;
}
#imgNoticia{
  cursor: pointer;
}


#botones{
  width: 290px;
  text-align: left;
  margin-left: 10px;
}

//----------------paginator---------------
.custom-pagination ::ng-deep .ngx-pagination .current {
  background-color: red;
}
#contenedorPagina{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 400px;
}
.custom-pagination ::ng-deep .ngx-pagination .ng-star-inserted a:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}
//----------------grid----------------
.example-card {
  max-width: 400px;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}



@media screen and (max-width: 900px) {
  #noticias{
    width: 50%;
  }

  .campoNoticia {
    max-width: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 150px;
    border-radius: 0%;
    float: left;
  
  }

}