
#noticiasarriba{
  height: 600px;
  width: 85%;
  //margin-left: auto;
  margin-right: auto;
  margin-left: 8%;
  //background-color: burlywood;
}

#noticiagrande{
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}

#noticiagrande::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.9));
}

#noticiasCostado{
  height: 100%;
  width: 50%;
  float: left;
}

#columna1{
  width: 49%;
  height: 100%;
  float: left;
  margin-left: 0.5%;
}
#fila1a{
  width: 100%;
  height: 49.5%;
  position: relative;
  margin-bottom: 1.2%;
}

#fila1a::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.9));

}
#fila2a{
  width: 100%;
  height: 49.5%;
  position: relative;
}
#fila2a::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.9));

}
#columna2{
  width: 49%;
  height: 100%;
  float: left;
  margin-left: 0.5%;
}
#fila1b{
  width: 100%;
  height: 49.5%;
  position: relative;
  margin-bottom: 1.2%;
}
#fila1b::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.9));

}
#fila2b{
  position: relative;
  width: 100%;
  height: 49.5%;
}
#fila2b::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.9));

}

#ImaNoticiaGrande{

  width: 100%;
  height: 100%;
  //width: 100%;
  //height: 100%;
  //width: 100%;
  
}
.titulogrande{
  position: absolute;
  top: 50%;
  left: 5%;
  cursor: pointer;
  font-size: 2vw;
  font-family: Helvetica, 'Now';
  font-weight: bold;
  line-height: 120%;
  color: white;
  margin-right: 2%;
}

.titulogrande:hover{
  color: lightcoral;
}

.btncategoriaGrande{
  position: absolute;
  top: 13%;
  right: 4%;
  cursor: pointer;
  font-size: 1.5vw;
  font-family: Helvetica, 'Now';
  color: white;
  background-color: red;
  padding: 1% 1%;
  border-radius: 10%;
}

.btncategoriaGrande:hover{
  //text-decoration:underline;
  background-color: black;
  color: white;
}

.btnFechaGrande{
  position: absolute;
  top: 80%;
  left: 3%;
  cursor: pointer;
  font-size: 1.5vw;
  line-height: 40px;
  color: rgb(196, 196, 196);
}

.btnFechaGrande:hover{
  text-decoration:underline;
  color: white;
}

#ImaNoticia1{
  width: 100%;
  height: 100%;
}
.titulonoticia1{
  position: absolute;
  top: 40%;
  left: 5%;
  cursor: pointer;
  font-size: 1.12vw;
  font-family: Helvetica, 'Now';
  font-weight: bold;
  line-height: 130%;
  color: white;
  margin-right: 4%;
}

.titulonoticia1:hover{
  color: lightcoral;
}

.btnFecha1{
  position: absolute;
  top: 75%;
  left: 3%;
  cursor: pointer;
  font-size: 1.15vw;
  line-height: 40px;
  color: rgb(196, 196, 196);
}

.btnFecha1:hover{
  text-decoration:underline;
  color: white;
}

.btncategoria1{
  position: absolute;
  top: 15%;
  right: 5%;
  cursor: pointer;
  font-size: 1vw;
  font-family: Helvetica, 'Now';
  color: white;
  background-color: red;
}

.btncategoria1:hover{
  //text-decoration:underline;
  color: white;
  background-color: black;
}
//---------------------------------------------


//------------------------------

#anuncio1{
  width: 400px;
  margin-left: 17%;
  margin-bottom: 40%;
  
  background-color: red;
  

}

#anuncio2{
  width: 400px;
  margin-left: 17%;
  
  background-color: red;

  }

  #anuncios{
    width: 500px;
    float: right;
    background-color: red;
    }

//--------------------------------

.image {
  width: 200px;
  height: 200px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  border-radius: 50%;
  margin: auto;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#conImg{
  height: 300px;
  width: 100%;
  background-image: url("../../assets/images/city2.jpg");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
}

#reproductor1{
  font-size: 1.3vw;
  font-family: Helvetica, 'Now';
  font-weight: bold;
}


//NOTICIAS PRINCIPALES-------------------------
#textocabeza{
  font-size: 2vw;
  text-align: left;
}

#noticias{
  width: 60%;
  height: auto;
  float: left;
  margin-left: 3%;
  max-height: max-content;
}
#general{
  width: 100%;
  height: auto;
  margin-left: 0%;
  max-height: max-content;

}
.campoNoticia {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 90%;
  width: 90%;
  border-radius: 0%;
  margin-left: 3%;

}
#tituloNoticia {
  text-align: left;
  height: auto;
  width: 100%;
  
}
#tituloNoticia:hover{
  color: red;
  cursor: pointer;
  transition: 0.3s;
  
}
#tit {
  font-size: 1.2vw;
  line-height: 110%;
  text-align: left;
  font-family: Helvetica, 'Now';
  font-weight: bold;

}

.botonNoticiaCategoria{

  color:white;
  font-size: 1vw;
  margin-top: 0%;
  margin-left: 4%;
  text-align: left;
  background-color: red;
  margin-bottom: 1%;

}
.botonNoticiaCategoria:hover{
  background-color: black;
  color: white;
  transition: 0.3s;
}

.botonNoticia{

  color: red;
  font-size: 1vw;
  margin-top: 0%;
  text-align: left;

}
.botonNoticia:hover{
  background-color: black;
  color: white;
  transition: 0.3s;
}
#imgNoticia{
  cursor: pointer;
  width: 120%;
  height: 55%;
}


#botones{
  text-align: left;
  margin-left: 4%;
}
//------------------------


//----------------paginator---------------
.custom-pagination ::ng-deep .ngx-pagination .current {
  background-color: red;
}
#contenedorPagina{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 400px;
  font-size: 1.2vw;
}
.custom-pagination ::ng-deep .ngx-pagination .ng-star-inserted a:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}
//----------------grid----------------
.example-card {
  max-width: 400px;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

//NOTICIAS ARRIBA RESPONSIVE MOVIL
@media screen and (max-width: 900px) {
  #noticiasarriba{
    height: max-content;
    width: 90%;
    //margin-left: auto;
    margin-right: auto;
    margin-left: 5%;
    margin-bottom: 5%;
  }
  
  #noticiagrande{
    position: relative;
    margin-bottom: 3%;
    height: max-content;
    width: 100%;
  }
  
  #noticiagrande::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.9));
  }
  
  #noticiasCostado{
    height: 100%;
    width: 100%;
  }
  
  #columna1{
    margin-left: 0%;
    width: 100%;
    height: max-content;
  }
  #fila1a{
    position: relative;
    margin-bottom: 3%;
  }
  
  #fila1a::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.9));
  
  }
  #fila2a{
    position: relative;
    margin-bottom: 3%;
  }
  #fila2a::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.9));
  
  }
  #columna2{
    margin-left: 0%;
    width: 100%;
    height: max-content;
  }
  #fila1b{
    position: relative;
    margin-bottom: 3%;
  }
  #fila1b::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.9));
  
  }
  #fila2b{
    position: relative;
  }
  #fila2b::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.9));
  
  }
  
  #ImaNoticiaGrande{
    height: 100%;
    width: 100%;
    
  }
  .titulogrande{
    position: absolute;
    top: 35%;
    left: 5%;
    cursor: pointer;
    font-size: 1.5em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 120%;
    color: white;
    margin-right: 4%;
  }
  
  .titulogrande:hover{
    color: lightcoral;
  }
  
  .btncategoriaGrande{
    position: absolute;
    top: 80%;
    left: 2%;
    cursor: pointer;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(196, 196, 196);
  }
  
  .btncategoriaGrande:hover{
    text-decoration:underline;
    color: white;
  }
  
  .btnFechaGrande{
    position: absolute;
    top: 80%;
    left: 64%;
    cursor: pointer;
    font-size: 1em;
    color: rgb(196, 196, 196);
  }
  
  #ImaNoticia1{
    height: 100%;
    width: 100%;
  }
  .titulonoticia1{
    position: absolute;
    top: 35%;
    left: 5%;
    cursor: pointer;
    font-size: 1.5em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 120%;
    color: white;
    margin-right: 4%;
  }
  
  .titulonoticia1:hover{
    color: lightcoral;
  }
  
  .btncategoria1{
    position: absolute;
    top: 80%;
    left: 2%;
    cursor: pointer;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(196, 196, 196);
  }
  
  .btncategoria1:hover{
    text-decoration:underline;
    color: white;
  }
  
}

/*.reproductor{
  width: 300px;
}*/

//RESPONSIVE BLOQUE NOTICIAS PRINCIPALES MOVIL
@media screen and (max-width: 900px) {

  .image {
    width: 120px;
    height: 120px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    border-radius: 50%;
    margin: auto;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  
  #conImg{

    height: 200px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    margin-top: 7%;
  }

  #textocabeza{
    font-size: 2em;
    text-align: left;
  }
  
  #noticias{
    max-height: max-content;
    width: 100%;
    margin-left: 0%;
  }
  #general{
    max-height: max-content;
    //width: 300px;
    width: 100%;
    margin-right: auto;
    margin-left: 0%;
    float: left;
  
  }
  .campoNoticia {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 85%;
    width: 90%;
    border-radius: 0%;
    margin-right: 3%;
  
  }
  #tituloNoticia {
    text-align: left;  
    height: 20%;
    width: 100%;
    
  }
  #tituloNoticia:hover{
    color: red;
    cursor: pointer;
    transition: 0.3s;
    
  }
  #tit {
    text-align: left;
    font-size: 5.5vw;
    height: 20%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 100%;
  
  }
  
  .botonNoticiaCategoria{
  
    color:white;
    font-size: 4vw;
    margin-top: 0%;
    margin-left: 4%;
    text-align: left;
    background-color: red;
    margin-top: 0%;
  
  }
  .botonNoticiaCategoria:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
  }
  
  .botonNoticia{
  
    color: red;
    margin-top: 3%;
    text-align: left;
    font-size: 4vw;
  
  }
  .botonNoticia:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
  }
  #imgNoticia{
    cursor: pointer;
    width:110%;
    height: 55%;
  }
  
  
  #botones{
    margin-top: 3%;
    font-size: 4vw;
    text-align: left;
    margin-left: 4%;

  }

  #contenedorPagina{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 400px;
    font-size: 5vw;
  }


//------------------------------

#anuncio1{
  width: 55%;
  height: 40%;
  margin-left: 20%;
  margin-bottom: 20%;
  

}

#anuncio2{
  width: 55%;
  height: 40%;
  margin-left: 20%;

  }

  #anuncios{
    width: 90%;
    margin-left: 5%;
    }

//--------------------------------

}