<div class="container">
    <app-header></app-header>
    <div id="main">                 
        <mat-card class="campoNoticia">
            <mat-card-header>          
              <mat-card-title id="titulo">{{titulo}}</mat-card-title>
            </mat-card-header>
            <mat-card-actions id="botones">
                <!--<button mat-button class="botonNoticia">{{noticiaprin.autor}}</button>-->
                <button mat-button class="botonNoticia">{{fecha}}</button>
                <button mat-button class="botonNoticia">{{categoria}}</button>
                
              </mat-card-actions>
            <img mat-card-image [src]="imagen" id="imgNoticia">
            <p class="parrafo">
                {{contenido}}
            </p>
        </mat-card>
        <br>
                    <!--<div id="abajo">

                        <p>Noticias Relacionadas</p>
                        <div *ngFor="let noticiarel of relacionados" class="relacionados">
                            <mat-card class="campoNoticia">
                                <img mat-card-image [src]="noticiarel.imagen" id="imgotrasNoticias">  
                                <mat-card-header id="tituloNoticia">    
                                    
                                <mat-card-title id="titulo2">{{noticiarel.titulo}}</mat-card-title>
                                </mat-card-header>
                                
                                <mat-card-actions id="botones">
                                    <button mat-button class="botonNoticia">{{noticiarel.fecha}}</button>
                                    <button mat-button class="botonNoticia">{{noticiarel.categoria}}</button>                   
                                  </mat-card-actions>                
                            </mat-card>
                            <br>                         
                            </div>                       
                    </div>-->
                    <div id="OtrasNoticias">
                        <p id="textocabeza">Noticias Relacionadas</p>
                        <mat-grid-list cols="2" rowHeight="450px">
                        
                        <div *ngFor="let noticia of noticias | slice:0:4 | paginate: { itemsPerPage: cantidadItems, currentPage: paginaActual }" id="otras">
                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-card class="campoNoticia1">
                                <img mat-card-image [src]="noticia.imagen" id="imgotrasNoticias" (click)="irNoticiaExpandida(noticia)">  
                                <button mat-button class="botonNoticiaCategoria">{{noticia.categoria}}</button>    
                                <mat-card-header id="tituloNoticia">
                                    
                                <mat-card-title id="tit">{{noticia.titulo}}</mat-card-title>
                                </mat-card-header>
                                
                                <mat-card-actions id="botones">
                                    <button mat-button class="botonNoticia">{{noticia.fecha}}</button>
                                    <button mat-button class="botonNoticia">Leer mas</button>
                                                   
                                  </mat-card-actions>                
                            </mat-card>
                        </mat-grid-tile>
                        
                            <br>
                            </div>  
                        </mat-grid-list>
                    </div>
                    
    </div>
    <div id="contenedorMultimedia">
    <div id="divAudio">
        <p id="textoU">Escucha las ultimas noticias</p>
        <ngx-audio-player id="audio" [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false" 
        muted="muted" [displayPlaylist]="msaapDisplayPlayList"
        [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
        [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist" 
        [displayDuration]="msaapDisplayDuration" [expanded]="false" ></ngx-audio-player>
    </div>     
        <br>
        <div id="divVideo">
            <p id="textoU">Vea las ultimas noticias</p>
            <video id="video" controls>
                <source src="assets/videos/videoNoticia1.mp4" type="video/mp4">
            </video>
        </div>


        <div id="margen">


        <div id="anuncio">  
            <app-aside></app-aside>
        </div>
    </div>
</div>
    <app-footer></app-footer>  
</div> 

    


