<app-header></app-header>

    <div id="main">                 
        <mat-card class="campoNoticia">
            <mat-card-header>          
              <mat-card-title id="titulo">{{noticia[0].titulo}}</mat-card-title>
            </mat-card-header>
            <mat-card-actions id="botonesA">
                <button mat-button class="botonNoticiaA">{{sacarSoloFecha(noticia[0].fecha_publicacion)}}</button>
                <!--<button mat-button class="botonNoticia">{{noticia[0].nombre}}</button>-->
                <div *ngFor="let etiqueta of noticia[0].categoriasarray" style="display: inline;">
                    <button mat-button class="botonNoticia">{{etiqueta}}</button>
                </div>
              </mat-card-actions>
            <img mat-card-image [src]="noticia[0].imagen" id="imgNoticia">
            <div [innerHTML]="contenido | innerhtmlpipe" class="ContenidoNoticia">
                <!--Contenido-->
            </div>
        </mat-card>
        <br>
                    <div id="OtrasNoticias">
                        <p class="textocabeza">Noticias Principales</p>
                        <div id="princi">
                        <mat-grid-list #grid [cols]="cols" rowHeight="2:2">
                        
                        <div *ngFor="let noticia of noticiasPrincipales | slice:0:4 | paginate: { itemsPerPage: cantidadItems, currentPage: paginaActual }">
                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-card class="campoNoticia1">
                                    <img mat-card-image [src]="noticia.imagen" id="imgotrasNoticias" (click)="irNoticiaExpandida(noticia)">
                                    <mat-card-header id="tituloNoticia">
                                        
                                    <mat-card-title id="tit"><span (click)="irNoticiaExpandida(noticia)">{{noticia.titulo}}</span></mat-card-title>
                                    </mat-card-header>
                                    
                                    <mat-card-actions id="botones">
                                        <div *ngFor="let etiqueta of noticia.categoriasarray" style="display: inline;">
                                            <button mat-button class="botonNoticia">{{etiqueta}}</button>
                                        </div>
                                        <button mat-button class="botonNoticiaFecha">{{sacarSoloFecha(noticia.fecha_publicacion)}}</button>
                                                       
                                      </mat-card-actions>                                          
                            </mat-card>
                            </mat-grid-tile>
                        </div>
                        </mat-grid-list>
                    </div>

                        <br>
                        <p class="textocabeza">{{cantidadComentarios+" comentarios"}}</p>
                        <hr>
                        <div id="comentarioDiv">
                            <mat-form-field id="comentarioBox">
                                <mat-label id="label">Escribe un comentario</mat-label>
                                <textarea matInput
                                          cdkTextareaAutosize
                                          #autosize="cdkTextareaAutosize"
                                          cdkAutosizeMinRows="1"
                                          cdkAutosizeMaxRows="5"                                          
                                          #textoComentario>
                                </textarea>
                            </mat-form-field>
                            <br><br>
                            <div id="usuarioBox">
                                <div style="height: 100%; width: 100%; float: right;">
                                    
                                    <button id="btnEnviar" mat-raised-button color="warn" 
                                    (click)='enviarComentario(textoComentario.value, textoUsuario.value); textoComentario.value=""; textoUsuario.value="Anónimo"'>Enviar</button>
                                    <input placeholder="Usuario" id="inputUsuario" value="Anónimo" #textoUsuario (click)='textoUsuario.value=""'>
                                </div>                                
                                <p id="warningBox" *ngIf="mensajeWarning.length > 0">{{mensajeWarning}}</p>
                            </div>                            
                            <br>
                            <div *ngFor="let comentario of comentariosCortados; index as i" id="contenedorComentario">
                                <h3 style="color: red; font-size: 1.1vw; display: inline;">
                                    {{comentario.nombre}}
                                </h3>
                                &nbsp; &nbsp; &nbsp;
                                <h3 style="display: inline; font-size: 1.1vw;">
                                    {{restaFecha(comentario.fecha)}}
                                </h3>
                                <p style="font-size: 1vw;">
                                    {{comentario.contenido}}
                                </p>                    
                                <hr>
                            </div>
                            <button id="VerMas" (click)="aumentarComentariosVista()" *ngIf="numeroDivisionComentarios < cantidadComentarios">Ver Mas</button>
                        </div>
                     </div>
            
</div>
<div id="RadioD">
<div id="conImg">
    <img class="image" src="assets/images/logoRadioCompañera.jpg">
    </div>
    <div class="reproductor">
        <ngx-audio-player id="reproductor1" [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false" 
        muted="muted" [displayPlaylist]="msaapDisplayPlayList"
        [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
        [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist" 
        [displayDuration]="msaapDisplayDuration" [expanded]="false"></ngx-audio-player> 
    </div>
    <br>
</div>
<div id="AnuncioArriba">
</div>
<app-nav></app-nav> 
<div id="AnuncioArriba1">
</div>

<div id="AnuncioArriba2">

</div>
<app-aside></app-aside>

<app-footer></app-footer>  


    


