
  #main{
      margin-left: 190px;
      width: 800px;

  }

  #OtrasNoticias{

    width: 300px;
    margin-left: 790px;

  }
  #anuncio{
    width: 200px;
    margin-left: 50px;

  }
  .botonNoticia:hover
  {
      color: rgb(214, 50, 21);

  }
  #titulo{
      font-size: 30px;
      margin-left: 0px;
      line-height: 40px;

}
.parrafo
  {
     font-size: 15px;
     line-height: 30px;

  }

  #abajo{
    width: 300px;
}

.relacionados
  {
    flex: 1 1 auto; 
    text-align: left;
    float: left;

  }
#contenedorMultimedia{
  height: auto;
  width: 100%;
}
#imgotrasNoticias{
  cursor: pointer;
}
#comentarioDiv{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#comentarioBox{
  margin-right: 12px; 
  width: 100%; 
  height: 50px; 
  border: 2px solid rgb(150, 150, 150);
  border-radius: 4px;
  padding: 5px;
}
#usuarioBox{
  height: 50px;
  width: 100%;
}
#contenedorComentario{
  padding: 3px;
}
#inputUsuario{
  height: 100%; 
  width: auto; 
  float: left; 
  border: 2px solid rgb(150, 150, 150); 
  border-radius: 4px;
}