.container{
  height: auto;
  max-height: max-content;
}
#main{
      margin-left: 7%;
      margin-right: 0%;
      width: 60%;
      height: auto;
      max-height: max-content;
      float: left;
      margin-top: 1%;
  }
  #titulo{
    margin-top: 2%;
    font-size: 3.5vw;
    margin-left: 0%;
    line-height: 110%;
    font-family: Helvetica, 'Now';
    font-weight: bold;
}
#botonesA{
  width: 100%;
  margin-top: 0%;
  margin-left: 1%;
}
.botonNoticiaA{
  margin-top: 0%;
  color: rgb(162, 162, 162);
  font-size: 1.2vw;
  text-align: left;
  font-family: Helvetica, 'Now';
  font-weight: bold;
  display:block;
  margin-bottom: 4%;
}
.botonNoticiaA:hover{
  text-decoration: underline;
  color: rgb(133, 47, 47);
  transition: 0.3s;
}

.campoNoticia {
  border-radius: 0%;
}

.botonNoticia{
  background-color: red;
  color: white;
  font-size: 1vw;
  text-align: left;
  font-family: Helvetica, 'Now';
  padding: 0% 3%;
  border-color: white;
  border-width: 10%;
  border-style: solid;

}
.botonNoticia:hover{
  background-color: black;
  color: white;
  transition: 0.3s;
}

.ContenidoNoticia{
  margin-top: 0%;
  color: black;
  text-align: left;
  font-family: Helvetica, 'Now';
  margin-bottom: 0%;
  font-size: 1vw;
  line-height: 150%;
}

  #OtrasNoticias{
    margin-top: 3%;
    width: 100%;
    height: auto;
    max-height: max-content;

  }
  #otras{
    width: 100%;
    height: 50%;

  }
  #princi{
    width: 100%;
    height: auto;
    max-height: max-content;

  }
  .textocabeza{
    font-size: 2vw;
    margin-left: 4%;
    font-family: Helvetica, 'Now';
    font-weight: bold;
  }
  #textoU{
    font-size: 20px;
    margin-left: 20px;
    font-family: Helvetica, 'Now';
    font-weight: bold;
  }
  #divAudio{
    margin-top: 50px;
    width: 370px;
    height: 180px;
    background-color:rgb(243, 243, 239);
  }
  #divVideo{
    width: 370px;
    height: 370px;
    background-color:rgb(243, 243, 239); 
    margin-top: 50px;
  }
  #anuncio{
    width: 200px;
    background-color:rgb(243, 243, 239); 
    margin-top: 50px;
    margin-left: 80px;

  }
  #margen{
    width: 370px;
    background-color:rgb(243, 243, 239); 
    margin-top: 100px;
  }


.parrafo
  {
     font-size: 16px;
     line-height: 26px;

  }

  #abajo{
    width: 300px;
}

.relacionados
  {
    flex: 1 1 auto; 
    text-align: left;
    float: left;

  }
#contenedorMultimedia{
  width: 25%;
  float: right; 
  margin-right: 5%;
}

#video{
  width: 340px;
  height: 270px;
  margin-left: 15px;
  
}
#audio{
  margin-top: 50px;
  width: 300px;
  height: 400px;
  border-radius: 0px;
  align-items: bottom;
  
}
.campoNoticia1 {
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  height: 90%;
  width: 80%;
  border-radius: 0%;
}


#tituloNoticia {
  text-align: left;
  height: auto;
  width: 100%;
  padding: 0% 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  
}
#tituloNoticia:hover{
  color: red;
  cursor: pointer;
  transition: 0.3s;
  
}
#tit {
  width: 100%;
  margin-left: 0%;
  font-size: 1.2vw;
  line-height: 120%;
  text-align: left;
  font-family: Helvetica, 'Now';
  font-weight: bold;
  padding: 0% 0%;
  margin-bottom: 0%;

}

.botonNoticiaFecha{
  color: rgb(162, 162, 162);
  font-size: 1vw;
  text-align: left;
  font-family: Helvetica, 'Now';
  font-weight: bold;
  display:block;
  padding: 2% 0%;
}
.botonNoticiaFecha:hover{
  text-decoration: underline;
  color: rgb(133, 47, 47);
  transition: 0.3s;
}

#imgotrasNoticias{
  cursor: pointer;
  width: 106%;
  height: 300px;
}

#botones{
  text-align: left;
  margin-left: 2%;
}
#comentarioDiv{
  margin-top: 2%;
  width: 100%;
}
#comentarioBox{ 
  width: 90%; 
  height: auto; 
  border: 2px solid rgb(150, 150, 150);
  border-radius: 0%;
  padding: 2%;
}
#label{ 
  font-size: 1.3vw;
  margin-left: 1%;
}
#usuarioBox{
  height: 60px;
  width: 100%;
}
#contenedorComentario{
  padding: 1%;
}
#inputUsuario{
  height: 100%; 
  width: 50%;
  float: right; 
  border: 2px solid rgb(150, 150, 150);
  border-radius: 0%;
  font-size: 1vw;
}

#btnEnviar{
  float: right;
  height: 100%; 
  width: 20%; 
  margin-left: 2%;
  margin-right: 8%;
  font-size: 1vw;
}

#VerMas{
  font-size: 1vw;
  text-align: center;
  margin-left: 2%;
  background-color: red;
  color: white;
  border-radius: 4px;
}

#costado {
  width: 100%;
}
.campoNoticiaCostado {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  width: 84%;
  border-radius: 0%;
  margin-left: 5%;
}

#tituloNoticiaCostado {
  text-align: left;
  height: auto;
  width: 100%;
  margin-bottom: 0%;
  
}
#tituloNoticiaCostado:hover{
  color: red;
  cursor: pointer;
  transition: 0.3s;
  
}
#titCostado {
  text-align: left;
  font-size: 1.3vw;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 110%;

}

.botonNoticiaCategoriaCostado{

  color:rgb(81, 81, 81);
  font-size: 1.2vw;
  margin-top: 1%;
  margin-left: 0%;
  text-align: left;
  margin-bottom: 1%;
  text-decoration: underline;
}
.botonNoticiaCategoriaCostado:hover{
  color: red;
  transition: 0.3s;
  text-decoration: underline;
  background-color: white;
}

.botonNoticiaCostado{
  color: red;
  font-size: 0.9vw;
  margin-left: 0%;
  text-align: left;

}
.botonNoticiaCostado:hover{
  transition: 0.3s;
  text-decoration: underline;
}

#botonesCostado{
  width: auto;
  text-align: left;
  margin-left: 1%;
}
#warningBox{
  color: red;
  font-size: 1.2vw;
}


#RadioD{
  width: 25%;
  float: left;
  margin-left: 2%;
  margin-top: 2%;
  height: auto;
  margin-bottom: 4%;
}

.image {
  width: 100px;
  height: 100px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  border-radius: 50%;
  margin: auto;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#conImg{
  height: 150px;
  width: 100%;
  background-image: url("../../assets/images/city3.jpg");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
}

#reproductor1{
  font-size: 1vw;
  font-family: Helvetica, 'Now';
  font-weight: bold;
}

#AnuncioArriba{
  margin-left: 0%;
  width: 7%;
  height: 10px;
  float: left;
}
#AnuncioArriba1{
  margin-left: 0%;
  width: 7%;
  height: 1500px;
  float: right;
}

#AnuncioArriba2{
  margin-left: 0%;
  width: 7%;
  height: 10px;
  float: left;
  display:block;
}

//RESPONSIVE
@media screen and (max-width: 900px) {
  .container{
    height: auto;
    max-height: max-content;
  }
  #main{
        margin-left: 0%;
        width: 100%;
        height: auto;
        max-height: max-content;
        float: left;
    }
    #titulo{
      margin-top: 2%;
      font-size: 9vw;
      margin-left: 0%;
      line-height: 110%;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  #botonesA{
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
  
  }
  .botonNoticiaA{
    color: red;
    font-size: 4.5vw;
    text-align: left;
  
  }
  .botonNoticiaA:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
  }
  
  .campoNoticia {
    border-radius: 0%;
  }
  
  .botonNoticia{
    color: red;
    font-size: 4.7vw;
    margin-top: 0%;
    
    text-align: left;
  
  }
  .botonNoticia:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
  }
  
    #OtrasNoticias{
      width: 100%;
      height: auto;
      max-height: max-content;
  
    }
    #otras{
      width: 100%;
      height: 50%;
      background-color: brown;
  
    }
    #princi{
      width: 100%;
      height: auto;
      max-height: max-content;
  
    }
    .textocabeza{
      font-size: 7vw;
      margin-left: 4%;
    }
    #textoU{
      font-size: 20px;
      margin-left: 20px;
      font-family:Arial, Helvetica, sans-serif;
    }
    #divAudio{
      margin-top: 50px;
      width: 370px;
      height: 180px;
      background-color:rgb(243, 243, 239);
    }
    #divVideo{
      width: 370px;
      height: 370px;
      background-color:rgb(243, 243, 239); 
      margin-top: 50px;
    }
    #anuncio{
      width: 200px;
      background-color:rgb(243, 243, 239); 
      margin-top: 50px;
      margin-left: 80px;
  
    }
    #margen{
      width: 370px;
      background-color:rgb(243, 243, 239); 
      margin-top: 100px;
    }
  
  
  .parrafo
    {
       font-size: 16px;
       line-height: 26px;
  
    }
  
    #abajo{
      width: 300px;
  }
  
  .relacionados
    {
      flex: 1 1 auto; 
      text-align: left;
      float: left;
  
    }
  #contenedorMultimedia{
    width: 90%;
    margin-left: 5%;
  }
  
  #video{
    width: 340px;
    height: 270px;
    margin-left: 15px;
    
  }
  #audio{
    margin-top: 50px;
    width: 300px;
    height: 400px;
    border-radius: 0px;
    align-items: bottom;
    
  }
  .campoNoticia1 {
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 90%;
    width: 80%;
    border-radius: 0%;
  }
  
  
  #tituloNoticia {
    text-align: left;
    height: auto;
    width: 100%;
    margin-top: 2%;
    
  }
  #tituloNoticia:hover{
    color: red;
    cursor: pointer;
    transition: 0.3s;
    
  }
  #tit {
    text-align: left;
    font-size: 7.3vw;
    height: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 105%;
  
  }
  
  .botonNoticiaCategoria{
  
    color:white;
    font-size: 5vw;
    margin-top: 0%;
    margin-left: 4%;
    text-align: left;
    background-color: red;
    margin-bottom: 0%;
  
  }
  .botonNoticiaCategoria:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
  }
  
  #imgotrasNoticias{
    cursor: pointer;
    width:111%;
    height: 260px;
  }
  
  #botones{
    text-align: left;
    margin-left: 8%;
  }
  #comentarioDiv{
    margin-top: 2%;
    width: 100%;
  }
  #comentarioBox{ 
    width: 90%; 
    height: auto; 
    border: 2px solid rgb(150, 150, 150);
    border-radius: 0%;
    padding: 2%;
  }
  #label{ 
    font-size: 7vw;
    margin-left: 3%;
  }
  #usuarioBox{
    height: 80px;
    width: 100%;
  }
  #contenedorComentario{
    padding: 1%;
  }
  #inputUsuario{
    height: 90%; 
    width: 70%;
    float: right; 
    border: 2px solid rgb(150, 150, 150);
    border-radius: 0%;
    font-size: 4vw;
  }
  
  #btnEnviar{
    float: right;
    height: 90%; 
    width: 20%; 
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1vw;
  }
  
  #VerMas{
    font-size: 1vw;
    text-align: center;
    margin-left: 2%;
    background-color: red;
    color: white;
    border-radius: 4px;
  }
  
  #costado {
    width: 100%;
  }
  .campoNoticiaCostado {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    width: 90%;
    border-radius: 0%;
    margin-left: 0%;
  }
  
  #tituloNoticiaCostado {
    text-align: left;
    height: auto;
    width: 100%;
    margin-bottom: 0%;
    
  }
  #tituloNoticiaCostado:hover{
    color: red;
    cursor: pointer;
    transition: 0.3s;
    
  }
  #titCostado {
    text-align: left;
    font-size: 5vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 110%;
  
  }
  
  .botonNoticiaCategoriaCostado{
  
    color:rgb(81, 81, 81);
    font-size: 4vw;
    margin-top: 1%;
    margin-left: 0%;
    text-align: left;
    margin-bottom: 1%;
    text-decoration: underline;
  }
  .botonNoticiaCategoriaCostado:hover{
    color: red;
    transition: 0.3s;
    text-decoration: underline;
    background-color: white;
  }
  
  .botonNoticiaCostado{
    color: red;
    font-size: 3.8vw;
    margin-left: 0%;
    text-align: left;
  
  }
  .botonNoticiaCostado:hover{
    transition: 0.3s;
    text-decoration: underline;
  }
  
  #botonesCostado{
    width: auto;
    text-align: left;
    margin-left: 1%;
  }
  #warningBox{
    color: red;
    font-size: 1.2vw;
  }
}
