<mat-toolbar class="toolbar">

<div id="LosButtons">

    <div id="log" style="list-style-type: none">
        <img [src]="logo || 'assets/images/logoRadioCompañera.jpg'" id="logoRCom">
        <div id="oftitle"style="list-style-type: none">
        <h1 id="titulo">{{titulo}}</h1>
    </div>

        </div>
   
  
    <div id="Sort1" style="list-style-type: none">
    <li>
    <ul><button mat-button (click)="volverPrincipal()">Inicio</button></ul>
    <ul><button mat-button>Seguridad</button></ul>
    <ul><button mat-button>Social</button></ul>
    </li>

    </div>

    <div id="Sort1" style="list-style-type: none">
        <li>
            <ul><button mat-button>Politica</button></ul>
            <ul><button mat-button>Deportes</button></ul>
        </li>
        </div>
    
        <div id="Sort1" style="list-style-type: none">
        <li>
            <ul><button mat-button>Economia</button></ul>
            <ul><button mat-button>Moda</button></ul>
        </li>
        </div>
    
        <div id="Sort1" style="list-style-type: none">
        <li>
                <ul><button mat-button>Internacional</button></ul>
                <ul><button mat-button>Ciencia y tecnologia</button></ul>          
        </li>
        </div>
    

    <div id="Sort2" style="list-style-type: none">
        <li>
            
            <img [src]="facebook" id="btnfacebook">
            <img [src]="twitter" id="btntwitter">
            <img [src]="youtube" id="btnyoutube">
            <img [src]="instagram" id="btninstagram">
            <img [src]="spotify" id="btnspotify">
            <img [src]="tiktok" id="btntiktok">
        </li>
        </div>


        <div id="oftitle"style="list-style-type: none">

        <h2 id="derechos">Todos los Derechos Reservados 2021 - Radio Compañera 106.3 FM</h2>
    </div>
    </div>

</mat-toolbar>
  